{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h1>Article List</h1>
			{% if articleList %}
			    <ul>
				    {% for article in articleList %}
					    <li>
					    	<h3><a href="/unicorn/{{ article.slug }}/">{{ article.headline }}</a></h3>
					    	<ul>
					    		<li>Tags</li>
					        {% for tag in article.tags.all %}
								<ul>
									<li>{{tag.text}}</li>
								</ul>
					    	{% endfor %}
							</ul>
							<ul>
					    		<li>Authors</li>
					        {% for author in article.authors.all %}
								<ul>
									<li>{{author.last_name}}, {{author.first_name}}</li>
								</ul>
					    	{% endfor %}
							</ul>
					    </li>
				    {% endfor %}
			    </ul>
			{% else %}
			    <p>No Articles are available.</p>
			{% endif %}
		</div>
		<div class="col-md-4">
			<h2>Tag List </h2>
			{% if tagList %}
				{% for tag in tagList%}
					<h4>{{tag.text}}</h4>
				{% endfor %}
			{% else %}
				<p>No Tags are available</p>
			{% endif%}
		</div>
		<div class="col-md-4">
			<h2>Author List </h2>
			{% if authorList %}
				{% for author in authorList%}
					<h4>{{author.last_name}}, {{author.first_name}}</h4>
				{% endfor %}
			{% else %}
				<p>No Authors are available</p>
			{% endif%}
		</div>
	</div>
</div>
