
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		    <h1>New Article</h1>
			<form method="POST" class="post-form">{% csrf_token %}
			    {{ articleformset.as_p }}
			    <button type="submit" class="save btn btn-default">Save</button>
			</form>
		</div>
		<div class="col-md-4">
		    <h1>New Author</h1>
		    <form method="POST" class="post-form">{% csrf_token %}
		        {{ authorformset.as_p }}
		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
		</div>
		<div class="col-md-4">
		    <h1>New Tag</h1>
		    <form method="POST" class="post-form">{% csrf_token %}
		        {{ tagformset.as_p }}
		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
		</div>
	</div>
</div>