language: python
python:
  - "2.7"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
# command to install dependencies
install:
  - pip install -r mysite/requirements.txt
  - pip install flake8

script:
    # Run fake8 and ignore too long lines
    - invoke test_all
